

  <div class="content-container">
    <form *ngIf="personalInfoForm" [formGroup]="personalInfoForm"  novalidate>

      <div class="custom-input">
        <label>First Name <span class="required">*</span></label>
        
          <input formControlName="firstName" type="text" #firstName required/>
      
        <div
          *ngIf="!personalInfoForm.controls.firstName.valid && personalInfoForm.controls.firstName && personalInfoForm.controls.firstName.dirty"
          class="validator-error">
          <span *ngIf="personalInfoForm.controls.firstName.errors.required">Please enter First Name.</span>
          <span *ngIf="personalInfoForm.controls.firstName.errors.minlength">First Name Should be atleast 3
            Characters</span>
          <span *ngIf="personalInfoForm.controls.firstName.errors.maxlength">First Name has limit of 35
            Characters</span>
          <span
            *ngIf="personalInfoForm.controls.firstName.errors.pattern && !personalInfoForm.controls.firstName.errors.maxlength && !personalInfoForm.controls.firstName.errors.minlength">First
            Name can have only Alphabets</span>
        </div>
      </div>

      <div class="custom-input">
        <label>Last Name <span class="required">*</span> </label>
      
          <input formControlName="lastName" type="text" #lastName required/>
        
        <div
          *ngIf="!personalInfoForm.controls.lastName.valid && personalInfoForm.controls.lastName && personalInfoForm.controls.lastName.dirty"
          class="validator-error">
          <span *ngIf="personalInfoForm.controls.lastName.errors.required">Please Enter Last Name.</span>
          <span *ngIf="personalInfoForm.controls.lastName.errors.minlength">Last Name Should be atleast 3
            Characters</span>
          <span *ngIf="personalInfoForm.controls.lastName.errors.maxlength">Last Name has limit of 35
            Characters</span>
          <span
            *ngIf="personalInfoForm.controls.lastName.errors.pattern && !personalInfoForm.controls.lastName.errors.maxlength && !personalInfoForm.controls.lastName.errors.minlength">
            Last Name can have only Alphabets</span>
        </div>
      </div>

      <div class="custom-input">
        <label>Nick Name <span class="required">*</span> </label>
      
          <input formControlName="nickName" type="text" #nickName required/>
     
        <div
          *ngIf="!personalInfoForm.controls.nickName.valid && personalInfoForm.controls.nickName && personalInfoForm.controls.nickName.dirty"
          class="validator-error">
          <span *ngIf="personalInfoForm.controls.nickName.errors.required">Please enter Nick Name.</span>
          <span *ngIf="personalInfoForm.controls.nickName.errors.minlength">Nick Name Should be atleast 3
            Characters</span>
          <span *ngIf="personalInfoForm.controls.nickName.errors.maxlength">Nick Name has limit of 35
            Characters</span>
          <span
            *ngIf="personalInfoForm.controls.nickName.errors.pattern && !personalInfoForm.controls.nickName.errors.maxlength && !personalInfoForm.controls.lastName.errors.minlength">
            Nick Name can have only Alphabets</span>
        </div>
      </div>

      <!-- <div class="custom-input">
        <label> Date of Birth <span class="required">*</span></label>
       
          <input displayFormat="DD/MMM/YYYY" placeholder="DD/MMM/YYYY" formControlName="dateofBirth" #dateOfBirth
            required display-timezone="utc"/>
     
        <div
          *ngIf="!personalInfoForm.controls.dateofBirth.valid && personalInfoForm.controls.dateofBirth && personalInfoForm.controls.dateofBirth.dirty"
          class="validator-error">
          Please enter Date of Birth.
        </div>
      </div>
  -->


  <div class="custom-input">
    <label>Email <span class="required">*</span></label>
    
      <input formControlName="email" type="text" />
  
    <div
      *ngIf="!personalInfoForm.controls.email.valid && personalInfoForm.controls.email && personalInfoForm.controls.email.dirty"
      class="validator-error">
      <span *ngIf="personalInfoForm.controls.email.errors.required">Please enter Your Email.</span>
      <span 
      *ngIf="!personalInfoForm.controls.email.valid && personalInfoForm.controls.email &&
      personalInfoForm.controls.email.dirty" 
      >
        Enter a Valid Email</span>
      
    </div>
  </div>

  <div class="custom-input">
    <label>date of birth<span class="required">*</span></label>
    
      <input formControlName="dateofBirth" type="text" />
  
    
      <div class="custom-input">
        <label> Date of Birth <span class="required">*</span></label>
       
          <input displayFormat="DD/MMM/YYYY" placeholder="DD/MMM/YYYY" formControlName="dateofBirth" #dateOfBirth
            required display-timezone="utc"/>
      
        <!-- <div
          *ngIf="!personalInfoForm.controls.dateofBirth.valid && personalInfoForm.controls.dateofBirth && personalInfoForm.controls.dateofBirth.dirty"
          class="validator-error">
          Please enter Date of Birth.
        </div> -->
      </div>
    
      
      </div>

  

      <div class="custom-input">
        <label>Gender <span class="required">*</span>
        </label>
        <div class="custom-radio">
         
            
              <label class="input-values">
                <input type="radio" value="Male" formControlName="gender">
                <span>Male</span>
              </label>
           
          
              <label class="input-values">
                <input type="radio" value="Female" formControlName="gender">
                <span>Female</span>
              </label>
            
        </div>
        <div
          *ngIf="!personalInfoForm.controls.gender.valid && personalInfoForm.controls.gender && personalInfoForm.controls.gender.dirty"
          class="validator-error">
          Please select Gender.
        </div>
      </div> 

      

     

      <!--       <ion-item lines="full">
        <ion-label>Date of Birth:</ion-label>
        <ion-datetime formControlName="dateofBirth" #dateOfBirth required display-timezone="utc"></ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-label>Gender:</ion-label>
        <ion-select formControlName="gender" placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item> -->

       <div class="custom-input">
        <label>Address <span class="required">*</span>
        </label>
      
        
          <input placeholder="Address Line 1" formControlName="addressLine1"/>
          <!-- <input placeholder="Address Line 2" formControlName="addressLine2"/>-->
           <input placeholder="City" formControlName="city"/>
          <input placeholder="State" formControlName="state"/>
          <input placeholder="Zip Code" formControlName="zipcode"/>
      
        <!-- <div class="validator-error">
          <span *ngIf="!personalInfoForm.controls.addressLine1.required && personalInfoForm.controls.addressLine1.dirty">
            Address Line 1 can have alphabets ,numbers and '&' '-' '#'
          </span> -->
          <!-- <span *ngIf="!personalInfoForm.controls.addressLine2.valid && personalInfoForm.controls.addressLine2.dirty">
            Address Line 2 can have alphabets ,numbers and '&' '-' '#'
          </span>
          <span *ngIf="!personalInfoForm.controls.city.valid && personalInfoForm.controls.city.dirty">
            City can have only can have alphabets
          </span>
          <span *ngIf="!personalInfoForm.controls.state.valid && personalInfoForm.controls.state.dirty">
            State can have only can have alphabets
          </span>
          <span *ngIf="!personalInfoForm.controls.zipcode.valid && personalInfoForm.controls.zipcode.dirty">
            Invalid Zipcode
          </span> 
        </div>-->

        <div
        *ngIf="!personalInfoForm.controls.addressLine1.valid && personalInfoForm.controls.addressLine1 && personalInfoForm.controls.addressLine1.dirty"
        class="validator-error">
        <span *ngIf="personalInfoForm.controls.addressLine1.errors.required">Please enter Your Address.</span>
       
        
      </div>
      <span *ngIf="!personalInfoForm.controls.city.valid && personalInfoForm.controls.city.dirty">
        City can have only can have alphabets
      </span>
      <span *ngIf="!personalInfoForm.controls.state.valid && personalInfoForm.controls.state.dirty">
        State can have only can have alphabets
      </span>
      <span *ngIf="!personalInfoForm.controls.zipcode.valid && personalInfoForm.controls.zipcode.dirty">
        Invalid Zipcode
      </span>

      </div> 

          <button  type="submit" (click)="update()" >Update</button>
        
    </form>
  </div>

