<ion-header>
    <app-toolbar headingText="Goals" backButtonRoute="coach/profile">
    </app-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="goalForm" (ngSubmit)="update()" novalidate>
    <ion-row>
      <ion-col [size]="10"></ion-col>
      <ion-col [size]="2">
        <ion-button class="info">Edit</ion-button>
      </ion-col>
    </ion-row>
    <ion-grid>
        <ion-row class="header">Fitness Goals<span class="required">*</span></ion-row>
        <ion-row>
          <ion-textarea rows="4" formControlName="fitness" #fitness required></ion-textarea>
        </ion-row>
        <div
              *ngIf="!goalForm.controls.fitness.valid && goalForm.controls.fitness && goalForm.controls.fitness.dirty"
              class="validator-error">
              <div *ngIf="goalForm.controls.fitness.errors.minlength">Must be at least 20 characters!</div>
              <div *ngIf="goalForm.controls.fitness.errors.maxlength">Maximum 100 characters!</div>
            </div>
      </ion-grid>
      <ion-button type="submit" class="update">Update</ion-button>
    </form>
</ion-content>