.info{
    --border-radius: 30px;
    --background: #fae373;
    color:#3f4348;
}
.header{
    color:#fae373;
    padding-left: 10px;
}
ion-textarea {
    color: #34383d;
    background: #ffffff;
    border-radius: 30px;
    padding: 10px;
}
.update{
    width:60%;
    --background:#fae373;
    color:#3f4348;
    --border-radius:30px;
    margin-left: 75px;
}
.validator-error {
    color: red;
    font-size: 14px;
    padding-top: 10px;
  }