 <main class="page">
     
    <div class="container product_1">
          
          <h3 class="m-5">Product Overview</h3>
          <p >Fitness has become paramount important more than ever during the last 18 months especially with the onset of pandemic. With people being locked down in home and with less travelling and more remote working, it has become very difficult to maintain physical health. At the sametime, physical and mental health has become very important to keep our defences strong against the pandemic. 
 With so many people realizing the importance of maintaining fitness and yet stuck at home with no access to fitness facilities, we at Honeycomb Technologies have come up with an application which solves the problem. We have created an unique application which enables anyone across the world to access the fitness coach of their choice, fitness program and diet program under the single umbrella. <br/><br/>
 
 ShapeMeUp, as the name suggests, helps every client to get to their best shape and fitness by following the fitness program created specific for every client, flexible yet most effective diet plan crafted to suit the needs of every individual. <br/><br/>
 
 ShapeMeUp helps both the fitness coach and fitness aspirants equally to stay on top of their goals. 
 
 </p>
      
    </div>
   
    <div class="product_2">
    <div class="container">
 
       
       <div class="row flex-column-reverse flex-sm-row biss_module ">
       <p class="col-lg-8 col-md-8 col-xl-8   ">The fitness app ShapeMeUp has several business modules to help both fitness coaches and fitness aspirants (clients). 
       </p>
      
 <h4 class="col-4 col-md-4 col-xl-4  biss_text">Business Modules
 
 </h4>
 
 </div>
 
 <div class="row k coach_module">
      
 <h4 class="col-4 col-md-4 col-xl-4  coach_text">Coach Modules
 </h4>
 <p class="col-lg-8 col-md-8 col-xl-8 ">
 ShapeMeUp application has set of screens/functions to help fitness Coaches to manage their Profile, create and maintain Diet database, create and maintain Warmup database, create and maintain workout database, view Client Profiles, assign warmup and workout plans, assign diet plans, monitor the progress of clients, send reminders for payment/workout/diet follow ups, live chat/video calls with clients to demonstrate and conduct live sessions, messaging services to communicate with clients, schedule sessions with clients, manage group clients and group classes. 
 <br/><br/>
 ShapeMeUp is designed to cater to every fitness enthusiast and meet their specific needs. It is easily customizable to suit the fitness coaches across the globe to give effective training to their clients. 
 
 
 </p>
 </div>
 
 
    </div>
    </div>
   
    <div class="container">
       
 <div class="row  flex-column-reverse flex-sm-row client_module">
       <p class="col-lg-8 col-md-8 col-xl-8 mt-0">
 Here we refer to the fitness aspirants as Clients. This is an individual or team that is being trained by the Coaches
 
 
 </p>
 <h4 class="col-4 col-md-4 col-xl-4 mt-0">Client Modules
 
 </h4>
 </div>
 
 </div>
 
    
                       </main>

  