<app-toolbar headingText="Notifications" [showProfileIcon]=true>

  <ion-icon name="notifications-outline" class="notify-icon"></ion-icon>

</app-toolbar>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [size]="8">
        <div class="add-updates">Diet Plan update</div>
      </ion-col>
      <ion-col [size]="3">
        <div class="add-updates">1:30 PM</div>
      </ion-col>
      <ion-col [size]="1">
        <ion-icon class="add-icon" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col [size]="8">
        <div class="add-updates">Workout update</div>
      </ion-col>
      <ion-col [size]="3">
        <div class="add-updates">5:30 PM</div>
      </ion-col>
      <ion-col [size]="1">
        <ion-icon class="add-icon" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col [size]="7">
        <div class="add-updates">Payment Reminder</div>
      </ion-col>
      <ion-col [size]="4">
        <div class="add-updates">7/24, 1:30 PM</div>
      </ion-col>
      <ion-col [size]="1">
        <ion-icon class="add-icon" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col [size]="7">
        <div class="add-updates">Diet Plan update</div>
      </ion-col>
      <ion-col [size]="4">
        <div class="add-updates">Sun, 1:30 PM</div>
      </ion-col>
      <ion-col [size]="1">
        <ion-icon class="add-icon" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>