
.add-updates{
    color:white;
    font-size:18px;
}
.add-icon{
    font-size:1.8rem;
    color:white;
}
.notify-icon{
    color:black;
    font-size:1.5rem;
}
hr{
    background:white;
  border:1px solid;
   

}