
<main class="Coach">
   
      <div class="container p-5" style="text-align: center;">
<label for="cars">Coach Finder</label>
<input type="text" placeholder="search"

/>


</div>


<div class="Coach_boxes">
    
      <div class="cbox">
      <div class="cbox_1">sree</div>
      <h5>sree</h5>
      <p >sree</p>
      </div>
 
</div>
<!-- <div class="boxes_Excercise"  *ngIf="items.length>0">

      <div class="dropdown" *ngFor="let item of items" >
         {{item.name}} 
                      <div class="  dropdown_content">
                      <p class="mt-5" style="color: white"> </p>
                      <p class="mt-5" style="color: white"></p>
                            </div>
                           </div>
                
                 
         
          
     </div> -->
    
                    </main>

  