.container {
  height: 100%;
  background: #34383d;
}

.header {
  background: #fae373;
}
.toolbar {
  background: #fae373;
  border-radius: 0px 0px 30px 30px;
}

/*  ion-content{ 
    --ion-background-color:  #FAE373; 
    --padding-top:5% ;
  } */

.content-container {
  padding: 0% 5% 2% 5%;
}
