.month-info{
        background: #545658;
        color: #ffffff;
        width: 100%;
        margin-top:10px;
}
.person{
    color:#fae373;
    font-size:1.5em;
}
.card-name{
    color:#ffffff;
}
.payment-mode{
    color:green;
}