.month-info{
    color: #ffffff;
    width: 100%;
    margin:10px 0px 0px 20px;
    font-size: 1.1em;
}
.person{
    color:#fae373;
    font-size:1.3em;
}
.card-name{
    color:#ffffff;
    font-size: 14px;
}
.payment-mode{
    color:red;
    font-size: 14px;
}
.payment-mode2{
    color:green;
    font-size: 14px;
}