
<main class="page">

 <div class="container page_1 mt-5 mb-5">
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 mobiles_mobile">
  <img class="img-fluid offset-md-3" [src] =ImagePath1  alt="azbxvh"/>
  </div>
  <div class="col-lg-4 col-md-6   col-sm-6 ">
<img class="img-fluid " src ={{ImagePath2}} alt="azbxvh"/>   
  </div>
  
  <div class="col-lg-4 col-xl-4 align-self-center text ">
   <h4 class="offset-md-3">Download The App Now</h4>
   <div class="row p-0">
   
     <div class="container p-0 image_button">
                    <div class="d-flex justify-content-start">
                                
                  <div class="box">
                        <button type="button" class="btn btn-dark " id="button">GET IT ON<br/><span>Android</span></button>
                        <button type="button" class="btn btn-dark " id="button"> 
GET IT ON<br/><span>Appstore</span></button>
</div>
</div>     
</div>                        
                                  
                                  

                                  
        </div>

   </div>
</div>



</div> 

<div class="container mobile_box">
      <div class="row">
      <div class="col-md-6">
   <h4 class="">Download The App Now</h4>
   </div>
   <div class="col-md-6 d-flex justify-content-start .image_button_2">
   
     
                    
                                
                  <div class="box">
                        <button type="button" class="btn btn-dark " id="button">GET IT ON<br/><span>Android</span></button>
                        <button type="button" class="btn btn-dark " id="button"> 
GET IT ON<br/><span>Appstore</span></button>
</div>
    
                       
                                  
                                  

                                  
        </div>

   

      </div>
</div>

<div class="mobile_1">
   <div class="container">

      
      <div class="row ">
            <div class="col-lg-6 col-md-6  mt-5 p-5 mobile_text1">
      <h4 class="mt-5 text1_1">Easy Workout Cheklist<br/> for Client
      </h4>
      <p class="text1_2">Clients can use the checklist to go through the workout and to let the coach know that the workout has been completed. </p>
      </div>
     <div class="col-lg-6 col-md-6 mt-5 p-5 mobile">
      
      <img class=" img-fluid" src ={{ImagePath2}} alt="azbxvh"/>
      </div>
</div>
 </div>
   </div>

   <div class="mobile_2">
   <div class="container">

      
      <div class="row ">
           
     <div class="col-lg-6 col-md-6 mt-5 p-5 mobile2">
      
      <img class=" img-fluid"  src ={{ImagePath2}} alt="azbxvh"/>
      </div>
      <div class="col-lg-6 col-md-6 mt-5 p-5 mobile_text2">
      <h4 class="mt-5 text2_1">Real-Time Messaging
      </h4>
      <p class="text2_2">All the messages can be found in one place, so it doesnt get lost.  </p>
      </div>
</div>
 </div>
   </div>

   <div class="mobile_3">
   <div class="container">

      
      <div class="row ">
            <div class="col-lg-6 col-md-6 mt-5 p-5 mobile_text3">
      <h4 class="mt-5 text3_1">Weekly Survey Sent to <br/>  the Coach
      </h4>
      <p class="text3_2">Track how the client feels after each week and work towards their goal. </p>
      </div>
     <div class="col-lg-6 col-md-6 mt-5 p-5 mobile3">
      
      <img class=" img-fluid"  src ={{ImagePath2}} alt="azbxvh"/>
      </div>
</div>
 </div>
   </div>


   <div class="mobile_4">
   <div class="container">

      
      <div class="row ">
           
     <div class="col-lg-6 col-md-6 mt-5 p-5 mobile4">
      
      <img class=" img-fluid"  src ={{ImagePath2}} alt="azbxvh"/>
      </div>
      <div class="col-lg-6 col-md-6 mt-5 p-5 mobile_text2">
      <h4 class="mt-5 text2_1">Flexible Appoitment
      </h4>
      <p class="text2_2">Have flexible appoitment with the coach and be able to meet at your convience.   </p>
      </div>
</div>
 </div>
   </div>
   <div class="mobile_5">
   <div class="container">

      
      <div class="row  ">
            <div class="col-lg-6 col-md-6 mt-5 p-5 mobile_text5">
      <h4 class="mt-5 text5_1">Customized Diet Plan
      </h4>
      <p class="text5_2">Each client will have their custimized diet plan with their required protein carbs and fat.  </p>
      </div>
     <div class="col-lg-6 col-md-6 mt-5 p-5 mobile5">
      
      <img class="img-fluid rectangle_3"  src ={{ImagePath2}} alt="azbxvh"/>
      </div>
</div>
 </div>
   </div>

                      </main>
