
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 font-family:poppins;

}




.box{
    background: #FEEFA8;
margin-top: 100px;

  } 

  .btn-dark{
    background: #34383D  !important;


  }
  #button{
      margin:10px;
  }

  



.page{
  overflow-x: hidden;
  
}




 
 


 


 .mobile_1,.mobile_5{
  background-color: #34383D;
  font-size: 20px;
 }

 .mobile_box{
   display:none;
   font-size: 20px;
 }
 
 .mobile_text2 .text2_1{
  font-size: 20px; 
 }
 .text3_1{
  font-size: 20px; 
}
 

 .mobile_3{
  background: linear-gradient(99.33deg, #FEEFA8 0.55%, #F5E383 108.61%);
  font-size: 20px;
 }
 .mobile_text1,.mobile_text3,.mobile_text5{
   align-items: center;
   text-align: center;
  
   
 }
.mobile_text1 .text1_1,.mobile_text5 .text5_1{
  color: #FEEFA8;
  font-size: 20px;

}
.mobile_text1 .text1_2,.mobile_text5 .text5_2{
  color:white;
  line-height: 1.4em;
  padding-top:5px;
  font-size: 17px;


}




.mobile_1{
  position: relative;
  z-index: 5;
}

.mobile::before{
  content: "";
background-image: url(./Rectangle4.png);
width: 685px;
height: 3173px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -14px;
top: 139px;
}

.mobile_2{
  position: relative;
  z-index: 5;
}
.mobile_3{
  position: relative;
  z-index: 7;
}

.mobile_4{
  position: relative;
  z-index:5;
}

.mobile_5{
  position: relative;
  z-index:2;
}
.mobile2::before{
  content: "";
background-image: url(./Rectangle5.png);
width: 800px;
height: 3173px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -146px;
top:260px;
}

.mobile3::before{
  content: "";
background-image: url(./Rectangle6.png);
width: 600px;
height: 3000px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: 103px;
top: 49px;
}

.mobile4::before{
  content: "";
background-image: url(./Rectangle7.png);
width: 756px;
height: 900px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -70px;
top: 60px;
}

.mobile5::before{
  content: "";
background-image: url(./Rectangle8.png);
width: 872px;
height: 900px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -350px;
top: 195px;
}
.frontpage{
  overflow-x: hidden;
}

.image_button{
 position: relative;
 left:-133px;
}
.mobile,.mobile2,.mobile3,.mobile4,.mobile5{
  align-items: center;
   text-align: center;
  
}

.mobile_text2{
  align-items: center;
  text-align: center;
 
 
}

.mobile_text2 .text2_2,.mobile_text3 .text3_2{
  font-size: 17px;
  padding-top:10px;
}

.text h4{
font-size: 20px;
}

@media  (max-width: 767px) {
  
  .biss_module h4::before{
    width: 0px;
  }
  .client_module h4::before{
    width:0px;
  }
  .coach_module h4::before{
  width:0px;
  }
.biss_module h4,.coach_module h4{
  color: #FEEFA8;
}

.coach_module{
  margin-top:0px;
}
.text h4{
  font-size: 20px;
  }

.client_module h4{
  color:black;
 

}


  
}
 
@media(max-width: 991px) {
  
  .coach_module h4::before{
    left:-197px;
  }
  .box{
    margin-top: 0px;
  }
  .text{

    display:none;
  }
  .text h4{
    font-size: 20px;
    }
  .mobile_box{
    display:block;
  }
 
 
  
} 
@media screen and (max-width: 1200px){
  

  .image_button{
    position: relative;
    left: -74px;
   }
  
} 

@media screen and (max-width: 575px){
  
  .mobiles_mobile{
padding-bottom:50px;
  }
  
 .page_1{

text-align: center;
align-self: center;

} 
.image_button_2{
  text-align: center;
  align-self: center;
align-items: center;
}
.mobile_box{
  
  text-align: center;
}

.mobile3::before{
  left:87px;

}
}

@media screen and (max-width: 510px){
  .container input{
    width:200px;
    
  }
}


