<ion-header>
  <app-toolbar headingText="Password-reset" backButtonRoute="coach/profile/security">
  </app-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="save()" novalidate>
  <ion-grid>
    <ion-row class="password-header">Current Password<span class="required">*</span></ion-row>
    <ion-row>
      <ion-col [size]="12">
        <div class="custom-input">
          <ion-item lines="full">
            <ion-input formControlName="currentPassword" type="password" #currentPassword required></ion-input>
          </ion-item>
          <div class="validator-error"
          *ngIf="passwordForm.controls.currentPassword.hasError('NoPassswordMatch') && passwordForm.controls.currentPassword.dirty">
          Password do not match
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="password-header">New Password<span class="required">*</span></ion-row>
    <ion-row>
      <ion-col [size]="12">
        <div class="custom-input">
          <ion-item lines="full">
            <ion-input formControlName="newPassword" type="password" #newPassword required></ion-input>
          </ion-item>
          <div
          *ngIf="!passwordForm.controls.newPassword.valid && passwordForm.controls.newPassword && passwordForm.controls.newPassword.dirty"
          class="validator-error">
          <div *ngIf="passwordForm.controls.newPassword.errors.minlength">Must be at least 8 characters!</div>
          <div *ngIf="passwordForm.controls.newPassword.errors.hasNumber">Must contain at least 1 number!</div>
          <div *ngIf="passwordForm.controls.newPassword.errors.hasSpecialCharacters">Must contain at least 1 Special
            Character!</div>
          <div *ngIf="passwordForm.controls.newPassword.errors.hasCapitalCase">Must contain at least 1 Capital Case!
          </div>
          <div *ngIf="passwordForm.controls.newPassword.errors.hasSmallCase">Must contain at least 1 Small Case!</div>
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="password-header">Re-type New Password<span class="required">*</span></ion-row>
    <ion-row>
      <ion-col [size]="12">
        <div class="custom-input">
          <ion-item lines="full">
            <ion-input formControlName="retypePassword" type="password" #retypePassword required></ion-input>
          </ion-item>
          <div class="validator-error"
          *ngIf="passwordForm.controls.confirmPassword.hasError('NoPassswordMatch') && passwordForm.controls.retypePassword.dirty">
          Password do not match
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button type="submit">Save Password</ion-button>
    </ion-row>
  </ion-grid>  
  </form>  
</ion-content>
