
<!-- <form [formGroup]="passwordForm" (ngSubmit)="save()" novalidate>
   
      <h2 class="password-header">Current Password<span class="required">*</span></h2>
        
              <input formControlName="currentPassword" type="password" #currentPassword required/>
           
            <div class="validator-error"
            *ngIf="passwordForm.controls.currentPassword.hasError('NoPassswordMatch') && passwordForm.controls.currentPassword.dirty">
            Password do not match
          </div> -->
         
      <!-- <h2 class="password-header">New Password<span class="required">*</span></h2>
      
              <input formControlName="newPassword" type="password" #newPassword required/>
           
            <div
            *ngIf="!passwordForm.controls.newPassword.valid && passwordForm.controls.newPassword && passwordForm.controls.newPassword.dirty"
            class="validator-error">
            <div *ngIf="passwordForm.controls.newPassword.errors.minlength">Must be at least 8 characters!</div>
            <div *ngIf="passwordForm.controls.newPassword.errors.hasNumber">Must contain at least 1 number!</div>
            <div *ngIf="passwordForm.controls.newPassword.errors.hasSpecialCharacters">Must contain at least 1 Special
              Character!</div>
            <div *ngIf="passwordForm.controls.newPassword.errors.hasCapitalCase">Must contain at least 1 Capital Case!
            </div>
            <div *ngIf="passwordForm.controls.newPassword.errors.hasSmallCase">Must contain at least 1 Small Case!</div>
          </div> -->
          
      
      <!-- <h2 class="password-header">Re-type New Password<span class="required">*</span></h2>
     
              <input formControlName="retypePassword" type="password" #retypePassword required/>
           
            <div class="validator-error"
            *ngIf="passwordForm.controls.confirmPassword.hasError('NoPassswordMatch') && passwordForm.controls.retypePassword.dirty">
            Password do not match
         </div> -->
        <!-- <button type="submit">Save Password</button>
     
    </form>  

   -->
