<ion-header>
  <app-toolbar headingText="Security" backButtonRoute="coach/profile">
  </app-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="securityForm" (ngSubmit)="update()" novalidate>
  <ion-grid>
    <ion-row><ion-col [size]="9"></ion-col>
      <ion-col [size]="3"><ion-button class="info">Edit</ion-button></ion-col>
    </ion-row>
    <ion-row class="security-header">Security Question 1<span class="required">*</span></ion-row>
    <ion-row>
      <ion-col [size]="12">
          <ion-item>
            <ion-select formControlName="question1" placeholder="Choose your security question">
              <ion-select-option><option>Question1</option></ion-select-option>
              <ion-select-option><option>Question2</option></ion-select-option>
              <ion-select-option><option>Question3</option></ion-select-option>
              <ion-select-option><option>Question4</option></ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
    <!-- <div *ngIf="!securityForm.controls.question1.valid && securityForm.controls.question1 &&
                  securityForm.controls.question1.dirty" class="validator-error">
                Please select any question.
              </div> -->
    <ion-row>
      <ion-col [size]="12">
        <div class="custom-input">
          <ion-item lines="full">
            <ion-input type="text" formControlName="answer1" placeholder="Answer"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="security-header">Security Question 2<span class="required">*</span></ion-row>
    <ion-row>
      <ion-col [size]="12">
          <ion-item>
            <ion-select formControlName="question2" placeholder="Choose your security question">
              <ion-select-option><option>Question1</option></ion-select-option>
              <ion-select-option><option>Question2</option></ion-select-option>
              <ion-select-option><option>Question3</option></ion-select-option>
              <ion-select-option><option>Question4</option></ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
    <!-- <div *ngIf="!securityForm.controls.question2.valid && securityForm.controls.question2 &&
                  securityForm.controls.question2.dirty" class="validator-error">
                Please select any question.
              </div> -->
    <ion-row>
      <ion-col [size]="12">
        <div class="custom-input">
          <ion-item lines="full">
            <ion-input type="text" formControlName="answer2" placeholder="Answer"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="security-header">Security Question 3<span class="required">*</span></ion-row>
    <ion-row>
      <ion-col [size]="12">
          <ion-item>
            <ion-select formControlName="question3" placeholder="Choose your security question">
              <ion-select-option><option>Question1</option></ion-select-option>
              <ion-select-option><option>Question2</option></ion-select-option>
              <ion-select-option><option>Question3</option></ion-select-option>
              <ion-select-option><option>Question4</option></ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="12">
        <div class="custom-input">
          <ion-item lines="full">
            <ion-input type="text" formControlName="answer3" placeholder="Answer"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <!-- <div *ngIf="!securityForm.controls.question3.valid && securityForm.controls.question3 &&
                  securityForm.controls.question3.dirty" class="validator-error">
                Please select any question.
              </div> -->
    <ion-button type="submit" (click)="update()">Update</ion-button>
    <ion-grid>
    <ion-row class="password-item">
      <ion-col [size]="11">Password Reset</ion-col>
      <ion-col [size]="1">
        <ion-icon routerLink="/coach/profile/password-reset" class="forward-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-grid>
  </form>
</ion-content>