
    <form  *ngIf="securityForm" [formGroup]="securityForm"  novalidate>
  
   
         
  <label>question1</label>
  <input type="text"  formControlName="answer1">
    

        
  <label>question2</label>
  <input type="text" formControlName="answer2" >       
  
       
  <label>question3</label>
  <input type="text" formControlName="answer3">
    
      <button type="submit" (click)="save()">save</button>
 
    
        <p (click)="goToPage('reset-password')" style="cursor: pointer;">Password Reset</p>
      
   
   
    </form>
