<main class="page">

  <div class="container sign_up">
   
 <div class="row check_box">
    <div class="row dotted">
 <div class="form-check ">
   <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked/>
   <label class="form-check-label" for="exampleRadios1">
    Coach
   </label>
 </div>
 <div class="form-check ">
   <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"/>
   <label class="form-check-label" for="exampleRadios2">
    Client
   </label>
  
 </div>
 </div>
 </div> 

  
    <form class="mt-5 formaction"  [formGroup]="registerForm" (ngSubmit)="signUp()" novalidate>

      <div class="row name">
        <div class="form-group col-lg-6">
        <label for="firstname">First Name <span class="required">*</span></label>
        
          <input formControlName="firstName" class="form-control" id="firstname" type="text" #firstName required  placeholder="Enter name" name="firstName"/>
          
        <div
          *ngIf="!registerForm.controls.firstName.valid && registerForm.controls.firstName && registerForm.controls.firstName.dirty"
          class="validator-error">
          <span *ngIf="registerForm.controls.firstName.errors.required" class="err">Please enter First Name.</span>
          <span *ngIf="registerForm.controls.firstName.errors.minlength" class="err">First Name Should be atleast 3
            Characters</span>
          <span *ngIf="registerForm.controls.firstName.errors.maxlength" class="err">First Name has limit of 35
            Characters</span>
          <span
            *ngIf="registerForm.controls.firstName.errors.pattern && !registerForm.controls.firstName.errors.maxlength && !registerForm.controls.firstName.errors.minlength" class="err">First
            Name can have only Alphabets</span>
        </div>
      </div>        
  
     <div class="form-group col-lg-6">
        <label for="lastname">Last Name <span class="required">*</span> </label>
       
          <input formControlName="lastName" type="text" #lastName required  type="text" class="form-control" id="lastname" placeholder="Enter Name" name="lastname"/>
          
        <div
          *ngIf="!registerForm.controls.lastName.valid && registerForm.controls.lastName && registerForm.controls.lastName.dirty"
          class="validator-error">
          <div *ngIf="registerForm.controls.lastName.errors.required" class="err">Please enter Last Name.</div>
          <div *ngIf="registerForm.controls.lastName.errors.minlength" class="err">Last Name Should be atleast 3
            Characters</div>
          <div *ngIf="registerForm.controls.lastName.errors.maxlength " class="err">Last Name has limit of 35
            Characters</div>
          <div
            *ngIf="registerForm.controls.lastName.errors.pattern && !registerForm.controls.lastName.errors.maxlength && !registerForm.controls.lastName.errors.minlength" class="err">
            Last Name can have only Alphabets</div>
        </div>
      
      </div>

    </div>


   
 <!-- <div class="row phone">
     <div class="form-group col-lg-6">
        <label for="exampleFormControlInput1">Email*</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" 
        
        name="email" formControlName="email"
        />

        <div class="err" *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required"> Email is Required</div>
          <div
          *ngIf="f.email.errors.pattern">
          Please Enter Valid Email
        </div>

        </div>


      </div>
    </div>  -->


      <!-- <div class="custom-input">
        <ion-label> Date of Birth <span class="required">*</span></ion-label>
        <ion-item lines="full">
          <ion-datetime displayFormat="DD/MM/YYYY" [max]="maxDateofBirth" placeholder="DD/MM/YYYY"
            formControlName="dateofBirth" #dateOfBirth required display-timezone="utc">
          </ion-datetime>
        </ion-item>
                  <ion-item>
            <ion-label position="stacked">MMMM YY</ion-label>
            <ion-datetime displayFormat="MMMM YY" min="1989-06-04" max="2004-08-23" value="1994-12-15T13:47:20.789">
            </ion-datetime>
          </ion-item>
        <div
          *ngIf="!registerForm.controls.dateofBirth.valid && registerForm.controls.dateofBirth && registerForm.controls.dateofBirth.dirty"
          class="validator-error">
          Please enter Date of Birth.
        </div>
      </div> -->

     

       
        <label>Gender <span class="required">*</span>
        </label>
        <div class="row dotted">
        <div class="form-check for_gender">
         
         
              <label class="input-values">
                <input type="radio" value="Male" formControlName="gender">
                <span>Male</span>
              </label>
        </div>


        <div class="form-check ">
          <label class="input-values">
          <input class="form-check-input" type="radio" value="Female" formControlName="gender">
                <span>Female</span></label>
        </div>
             
           
        
        <div
          *ngIf="!registerForm.controls.gender.valid && registerForm.controls.gender && registerForm.controls.gender.dirty"
          class="validator-error err">
          Please select Gender.
        </div>
      </div> 
   
      <!--       <div class="custom-input">
        <ion-label> Phone Number <span class="required">*</span>
        </ion-label>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-select formControlName="phoneCode" placeholder="Select One">
                <ion-select-option *ngFor="let country of countryPhoneCode" [value]="country">
                  {{country.dial_code + '(' +country.code + ')'}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="full">
              <ion-input formControlName="phoneNumber" type="text" #phoneNumber required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <div
          *ngIf="(!registerForm.controls.phoneNumber.valid || !registerForm.controls.phoneCode.valid)  && registerForm.controls.phoneNumber && registerForm.controls.phoneNumber.dirty"
          class="validator-error">
          <span *ngIf="!registerForm.controls.phoneNumber.valid">Please Enter
            Valid Phone Number.</span>
          <span *ngIf="!registerForm.controls.phoneCode.valid && registerForm.controls.phoneNumber.valid">Please
            Select Country Code.</span>
        </div>
      </div> -->
     
          
           
   <div class="row phone">
        <div class="form-group col-lg-6">
        <label for="exampleFormControlInput1">Email <span class="required">*</span></label>
      
          <input formControlName="email" type="text" #email required   class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" />
        
        <div 
          *ngIf="!registerForm.controls.email.valid && registerForm.controls.email && registerForm.controls.email.dirty"
          class="validator-error err">
          Please Enter Valid Email.
        </div>
      </div> 
       </div>
<div class="row password">
          <div class="form-group col-lg-6">
        <label  for="inputPassword"> Password <span class="required">*</span>
        </label>
      
        
          <input formControlName="password" class="form-control" id="inputPassword" placeholder="Password" type="password" #password required/>
       
        <div 
          *ngIf="!registerForm.controls.password.valid && registerForm.controls.password && registerForm.controls.password.dirty"
          class="validator-error">
          <div *ngIf="registerForm.controls.password.errors.minlength" class="err">Must be at least 8 characters!</div>
          <div *ngIf="registerForm.controls.password.errors.hasNumber" class="err"> Must contain at least 1 number!</div>
          <div *ngIf="registerForm.controls.password.errors.hasSpecialCharacters" class="err">Must contain at least 1 Special
            Character!</div>
          <div *ngIf="registerForm.controls.password.errors.hasCapitalCase" class="err">Must contain at least 1 Capital Case!
          </div>
          <div *ngIf="registerForm.controls.password.errors.hasSmallCase" class="err">Must contain at least 1 Small Case!</div>
        </div>
      </div> 

      <div class="form-group col-lg-6">
        
        
        <label for="confirmpass"> Confirm Password <span class="required">*</span>
        </label>
        
          <input formControlName="confirmPassword" type="password" #password required
          
          class="form-control" id="confirmpass" placeholder="Password" 
          />
        
        <div class="validator-error err"
          *ngIf="registerForm.controls.confirmPassword.hasError('NoPassswordMatch') && registerForm.controls.confirmPassword.dirty">
          Password do not match
        </div>
      </div> 

</div>


<br/><br/>
      <div class=" col-12 mb-5 Registeration" style="text-align: center;">
        <button type="submit" class="btn btn submit" [disabled]="!this.registerForm.valid" expand="block" >SIGN-UP</button>
        <br />

        
        <small>Already have an account?<a href="/shapmeup/src/app/login/login.component.html">Login</a> </small>
      </div>
          
    </form>
</div>
</main>