<ion-tabs>
  <div class="tabs-container">

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="clients">
        <ion-icon name="people-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </div>
</ion-tabs>