.toolbar {
  background: #feefa8;
}
.profile-header {
  background: #feefa8;
  color: #3f4348;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  position: relative;
  padding: 5% 0%;
}
.back-icon {
  padding-top: 10px;
  font-size: 1.2rem;
}

/* ion-content {
  --background: #fae373;
} */

.profile-info {
  padding: 0% 10%;
  position: absolute;
  top: 85%;
  width: 100%;
  z-index: 1;

  .header {
    color: #fae373;
  }
}

.content-container {
  padding: 15% 5% 2% 5%;
  overflow: auto;
}

.review {
  border-radius: 30px;
  background: #3f4348;
  bottom: 20px;
  padding: 5%;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-icon {
  font-size: 6rem;
}

.nick-name {
  font-size: 1.25rem;
  line-height: 28px;
  margin-bottom: 1rem;
}

/* ion-header {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    --ion-background-color: #FAE373;
    --ion-background: #3F4348;
}
 */
/* ion-toolbar {
    border-radius: 30px; 
} */

ion-content {
  --ion-background-color: #3f4348;
  --padding-top: 5%;
}
.custom-radio {
  margin-left: 35px;
  margin-bottom: 15px;
}

.menu-items {
  background: #3f4348;
  color: #fae373;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 5px 5px;
}

.profile-buttons {
  button {
    border-radius: 30px;
    color: #fae373;
  }
}

button {
  color: inherit;
  background: inherit;
  border-radius: 30px;
}
