<div class="toolbar" slot="center">
  <!--  <ion-icon name="chevron-back-outline" class="back-icon" [routerLink]="homeURL"></ion-icon> -->
  <div class="profile-header">
    <ion-icon class="profile-icon" name="person-circle-outline"></ion-icon>
    <div class="nick-name">
      <div *ngIf="coach && coach.firstName">
        {{coach.firstName}}
      </div>
      <!--  <ion-label>Nick Name</ion-label> -->
    </div>

    <div class="profile-info">
      <ion-grid class="review">
        <ion-row>
          <ion-col>
            <div>
              <ion-label class="value">20</ion-label>
            </div>
            <div>
              <ion-label class="header">Clients</ion-label>
            </div>
          </ion-col>
          <ion-col routerLink="profile-review">
            <div>
              <ion-label class="value">4.5</ion-label>
            </div>
            <div>
              <ion-label class="header">Review</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>

<ion-content>
  <div class="content-container">
    <ion-nav root="nav-home"></ion-nav>
    <!--     <div class="custom-radio">
      <ion-row>
        <ion-col [size]="6">
          <label class="input-values">
            <input type="radio" name="usertype" (click)="showInformation('coach')">
            <span>Coach</span>
          </label>
        </ion-col>
        <ion-col [size]="6">
          <label class="input-values">
            <input type="radio" name="usertype" (click)="showInformation('client')">
            <span>Client</span>
          </label>
        </ion-col>
      </ion-row>
    </div> -->

    <div class="menu-items">
      <ion-grid>
        <ion-row>
          <ion-col size="11">
            <ion-label>Demographics</ion-label>
          </ion-col>
          <ion-col size="1">
            <button routerLink="personal-info">
              <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="usertype === 'coach'">
      <div class="menu-items">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <ion-label>About me</ion-label>
            </ion-col>
            <ion-col size="1">
              <button routerLink="about-me">
                <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div *ngIf="usertype === 'coach'">
      <div class="menu-items">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <ion-label>Certifications/Acheivements</ion-label>
            </ion-col>
            <ion-col size="1">
              <button routerLink="certi-achie">
                <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div *ngIf="usertype === 'client'">
      <div class="menu-items">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <ion-label>Survey</ion-label>
            </ion-col>
            <ion-col size="1">
              <button routerLink="survey">
                <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div *ngIf="usertype === 'client'">
      <div class="menu-items">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <ion-label>Goals</ion-label>
            </ion-col>
            <ion-col size="1">
              <button routerLink="goals">
                <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="menu-items">
      <ion-grid>
        <ion-row>
          <ion-col size="11">
            <ion-label>Security</ion-label>
          </ion-col>
          <ion-col size="1">
            <button routerLink="security">
              <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="usertype === 'coach'">
      <div class="menu-items">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <ion-label>Payment History</ion-label>
            </ion-col>
            <ion-col size="1">
              <button routerLink="payment-history">
                <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div *ngIf="usertype === 'client'">
      <div class="menu-items">
        <ion-grid>
          <ion-row>
            <ion-col size="11">
              <ion-label>Payment History</ion-label>
            </ion-col>
            <ion-col size="1">
              <button routerLink="client-payment-history">
                <ion-icon class="ion-justify-content-end" name="chevron-forward-outline"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" class="profile-buttons" expand="full" color="primary">Contact Us</ion-button>
          </ion-col>
          <ion-col size="4"></ion-col>
          <ion-col size="4">
            <ion-button shape="round" class="profile-buttons" expand="full" color="light" (click)="logout()">Logout
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>