.info{
    --border-radius: 30px;
    --background: #fae373;
    color:#3f4348;
}
.month-info{
    color: #ffffff;
    width: 100%;
    margin-top:10px 0px 0px 10px;
    font-size: 1.1em;
}
.menu-items {
    background: #3f4348;
    color: #fae373;
    width: 85%;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 5px 5px;
    margin-left: 20px;
  }