


  <div class="imgContainer">
   <img class="leftImg" src="../../assets/images/landing-page-img2.png">
    <img class="rightImg" src="../../assets/images/landing-page-img1.png">
  </div>    


  <br/>     
       <h1 (click)="goToPage('dietplan-list')"> <label>Diet Plan</label></h1>
    
<label class="secondary">Manange the Food Items and Diet Plan Template </label>
  
<br/>
<br/>   
   
     <h1><label>Workouts</label></h1>   
    
   <label class="secondary">Manange the Workouts and Workout Templates </label>
   
   <br/>
 <br/>
       
       <h1><label>Missed Updates</label></h1> 
        
      <label class="secondary">View and Remind Clients for the missed Weekly Survey and Daily Updates
    
  
