body{
  width:100%;
  height:100%;
}

.boxes_Excercise{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(4,auto) ;
    grid-column-gap:20px ;

    }
    .dropdown{
        background: #FEEFA8;

      display: flex;
      align-items: center;
      justify-content: center;
        padding:20px;
        color:black;
      text-align: center;
        box-sizing: content-box;
        width:200px;
        margin:10px;
        height:200px;
    }
    

    .boxes_Excercise div:nth-child(2){
        background: #34383D;
        color:white;

    }
    .boxes_Excercise div:nth-child(4){
        background: #34383D;
        color:white;

    }
    .boxes_Excercise div:nth-child(5){
        background: #34383D;
        color:white;

    }
    .boxes_Excercise div:nth-child(7){
        background: #34383D;
        color:white;

    }


    .dropdown_content{
        display: none;
      position: absolute;
      background: #34383D;
     
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:513px;
    height: 298px;
   margin-top: 460px;
   border-radius: 5px;
   left:10px;
   margin-bottom:150px;
  margin-top:728px;
    }
    .boxes_Excercise
{
    margin-bottom:200px;
}
 .dropdown:hover .dropdown_content::before{
        position: absolute;
        background: #34383D;
        width:224px;
        height:59px;
        border-top:0px solid #34383D;
        border-left:0px solid #34383D;
        border-right:2px solid #34383D;
        border-bottom:2px solid #34383D;
        top:20%;
        left:10%;
        z-index:-1;
      content:'';
      transform: rotate(45deg);
      margin-top: -21px;
      }
 .dropdown:hover .dropdown_content  {
        display: block;
        display:flex;
        justify-content: space-around;
      } 

      .dropdown_content .video{
align-items: center;
text-align: center;
      }   
      
 /* media querry */

 @media(max-width: 1117px) {
    .boxes_Excercise{
        grid-template-columns: repeat(3,auto) ;
        }

}

@media(max-width: 831px) {
    .boxes_Excercise{
        grid-template-columns: repeat(1,auto) ;
        }

}

@media(max-width: 573px) {
    .dropdown{
        
        padding:20px;
        
        width:100px;
        margin:10px;
        height:100px;
    }

}

@media(max-width: 331px) {
    .boxes_Excercise{
        grid-template-columns: repeat(1,auto) ;

        }
        .dropdown:hover .dropdown_content::before{
          width: 150px;
          height: 59px;
          left:56px;
        } 

        .dropdown:hover .dropdown_content{
          width: 281px;
          height: 224px;
          left: -70px;
          margin-top: 522px
        }

}



@media(max-width: 1259px) {
   .dropdown_content{
       left:-31px;
   }

}

@media(max-width: 573px) {
    .dropdown_content{
       width:338px;
       height:102px;
       left:-61px;
       margin-top:305px;
    }
 
 }



 .container label{
   padding: 15px;
   font-weight: bolder;
 }

.container select{
  width:400px;
  height:30px;
}

.boxes_coach p{
 font-size: 15px;
}

.boxes_coach h5{
  font-size: 17px;
 }

 


 
@media(max-width: 991px) {
  
  .box{
    margin-top: 0px;
  }
  
 
  
} 


@media screen and (max-width: 510px){
  .container input{
    width:200px;
    
  }
}







    
 
 
