
<main  >
      
      <div class="container p-5" style="text-align: center;">
<label for="cars">Workout Categories</label>
<input type="text"placeholder="search" name="name" [(ngModel)]="name" (ngModelChange)="  Search()
      " />




</div>


  <div class="boxes_Excercise"  *ngIf="items.length>0" >

  <div class="dropdown" *ngFor="let item of items"  (click)="Box_Show()">
     {{item.name}} 
                   

</div>
</div>
        
             
                     
<div class="dropdown_content" *ngIf="showMe" >
      <mat-icon (click)="Box_Show()" class="box_close">cancel</mat-icon>                
      <p class="mt-5 video" style="color: white"> 
            <youtube-player class="youtube"
            videoId="GYAB4Td62zI" 
            suggestedQuality="highres" 
            [height]="200" 
            [width]="400" 
            [startSeconds]="4"
            [endSeconds]="8">
          </youtube-player> 

      </p>
     
   
            </div>
                             




      
          </main>


