.boxes_Excercise{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(4,auto) ;
    grid-column-gap:20px ;

    }
    .dropdown{
        background: #FEEFA8;

      display: flex;
      align-items: center;
      justify-content: center;
        padding:20px;
        color:black;
      text-align: center;
        box-sizing: content-box;
        width:200px;
        margin:10px;
        height:200px;
    }
    

    .boxes_Excercise div:nth-child(2){
        background: #34383D;
        color:white;

    }
    .boxes_Excercise div:nth-child(4){
        background: #34383D;
        color:white;

    }
    .boxes_Excercise div:nth-child(5){
        background: #34383D;
        color:white;

    }
    .boxes_Excercise div:nth-child(7){
        background: #34383D;
        color:white;

    }


    .dropdown_content{
        display: none;
      position: absolute;
      background: #34383D;
      width:100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 302px;
    height: 178px;
   margin-top: 460px;
   border-radius: 3px;
    }
    .boxes_Excercise
{
    margin-bottom:200px;
}
    .dropdown:hover .dropdown_content::before{
        position: absolute;
        background: #34383D;
        width: 129px;
        height: 83px;
        border-top:0px solid #34383D;
        border-left:0px solid #34383D;
        border-right:2px solid #34383D;
        border-bottom:2px solid #34383D;
        top:20%;
        left:10%;
        z-index:-1;
      content:'';
      transform: rotate(45deg);
      margin-top: -21px;
      }

      .dropdown:hover .dropdown_content  {
        display: block;
        display:flex;
        justify-content: space-around;
      } 

      
      
 /* media querry */

 @media(max-width: 1117px) {
    .boxes_Excercise{
        grid-template-columns: repeat(3,auto) ;
        }

}

@media(max-width: 831px) {
    .boxes_Excercise{
        grid-template-columns: repeat(2,auto) ;
        }

}

@media(max-width: 573px) {
    .dropdown{
        
        padding:20px;
        
        width:100px;
        margin:10px;
        height:100px;
    }

}

@media(max-width: 331px) {
    .boxes_Excercise{
        grid-template-columns: repeat(1,auto) ;
        }

}



@media(max-width: 1259px) {
   .dropdown_content{
       left:-31px;
   }

}

@media(max-width: 573px) {
    .dropdown_content{
       width:338px;
       height:102px;
       left:-61px;
       margin-top:305px;
    }
 
 }


 .dropdown:hover .dropdown_content::before{
     width:111px;
     height:59px;
 }
 

 body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 font-family:poppins;

}





.box{
    background: #FEEFA8;
margin-top: 100px;

  } 

  .btn-dark{
    background: #34383D  !important;


  }
  #button{
      margin:10px;
  }

  



.page{
  overflow-x: hidden;
  
}

.product_1 p{
text-align: left;
font-size: 17px;
margin-bottom: 100px;
}
.product_1 h3{
  font-size: 30px;
}
.product_2{
  background: #34383D;

  z-index: -7;
  position: relative;
}



.biss_module,.coach_module,.client_module{
  text-align: left;
padding-top:60px ;

 }

 .coach_module p{
   padding-bottom:100px;
 }
 .coach_module{
   margin-top:100px;
 }

 
 

.biss_module h4::before{
   content:"";
/* background-image: url(./Rectangle1.png); */
width: 481px;
height: 700px;
position:absolute;
 background-repeat: no-repeat;
 z-index: -5;
 top: -436px;
 left: -30px;

} 

 .coach_module h4::before{
  content:"";
/* background-image: url(./Rectangle2.png); */
width: 481px;
height: 700px;
position: absolute;
background-repeat: no-repeat;
z-index: -5;
top: -263px;
left: -113px;

}

.client_module h4::before{
  content:"";
/* background-image: url(./Rectangle3.png); */
width: 563px;
height: 3102px;
position: absolute;
background-repeat: no-repeat;
z-index: -5;
top: -161px;
left: -113px;


}  



.product_2 p{
  color:white;
  font-size:18px;
}

.client_module h4{
  color: #FEEFA8;

}


 .coach_module .coach_text{
   align-self: center;
 }
 

.box_1 ,.box_3 ,.box_6, .box_8{
  background: #FEEFA8;
align-items: center;
  padding:20px;
text-align: center;
  box-sizing: content-box;
  width:200px;
  height:200px;
  display: flex;
  margin:10px;
align-items: center;
justify-content: center;
}


.box_2 ,.box_4 ,.box_5, .box_7{
  background: #34383D;
display: flex;
align-items: center;
justify-content: center;
  padding:20px;
  color:white;
text-align: center;
  box-sizing: content-box;
  width:200px;
  margin:10px;
  height:200px;
}

 .container label{
   padding: 15px;
   font-weight: bolder;
 }

.container select{
  width:400px;
  height:30px;
}

.boxes_coach p{
 font-size: 15px;
}

.boxes_coach h5{
  font-size: 17px;
 }

 .mobile_1,.mobile_5{
  background-color: #34383D;

 }

 .mobile_box{
   display:none;
 }

 .mobile_3{
  background: linear-gradient(99.33deg, #FEEFA8 0.55%, #F5E383 108.61%);

 }
 .mobile_text1,.mobile_text3,.mobile_text5{
   align-items: center;
   text-align: center;
   
 }
.mobile_text1 .text1_1,.mobile_text5 .text5_1{
  color: #FEEFA8;

}
.mobile_text1 .text1_2,.mobile_text5 .text5_2{
  color:white;
  line-height: 1.4em;
  padding-top:5px;


}




.mobile_1{
  position: relative;
  z-index: 5;
}

.mobile::before{
  content: "";

width: 685px;
height: 3173px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -14px;
top: 139px;
}

.mobile_2{
  position: relative;
  z-index: 5;
}
.mobile_3{
  position: relative;
  z-index: 7;
}

.mobile_4{
  position: relative;
  z-index:5;
}

.mobile_5{
  position: relative;
  z-index:2;
}
.mobile2::before{
  content: "";
/* background-image: url(./Rectangle5.png); */
width: 800px;
height: 3173px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -146px;
top:260px;
}

.mobile3::before{
  content: "";
/* background-image: url(./Rectangle6.png); */
width: 600px;
height: 3000px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: 103px;
top: 49px;
}

.mobile4::before{
  content: "";
/* background-image: url(./Rectangle7.png); */
width: 756px;
height: 900px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -70px;
top: 60px;
}

.mobile5::before{
  content: "";
/* background-image: url(./Rectangle8.png); */
width: 872px;
height: 900px;
position: absolute;
z-index: -5;
background-repeat: no-repeat;
left: -350px;
top: 195px;
}
.frontpage{
  overflow-x: hidden;
}

.image_button{
 position: relative;
 left:-133px;
}
.mobile,.mobile2,.mobile3,.mobile4,.mobile5{
  align-items: center;
   text-align: center;
}

.mobile_text2{
  align-items: center;
  text-align: center;
 
}

.mobile_text2 .text2_2,.mobile_text3 .text3_2{

  padding-top:10px;
}

.page .check_box {
  align-content: center;
  justify-content: center;
  
  
}
.form-check {
  
  padding-left: 3.25rem;
}
.check_box .dotted input{
  padding:30px;
}
.check_box .dotted{
  border:dotted black;
  padding: 20px;
  padding-left: 8px;
  padding-right: 50px;
  border-radius: 10px;
}
  .page  label{
    display:table-row;

  }

  .sign_up .row{
margin:10px;
  }
 .name{
   margin-top:20px;
 }

 .name .form-control {
    
    width: 79%;
    height: calc(1.5em + .75rem + 6px);
  border-radius: 5.25rem;
   
}

.bday .form-control {
    
  width: 38%;
  height: calc(1.5em + .75rem + 6px);
border-radius: 5.25rem;
 
}

.age .form-control {
    
  width: 20%;
  height: calc(1.5em + .75rem + 6px);
border-radius: 5.25rem;
 
}

.gender{
  
font-weight: bolder;
font-size: 17px;
}
.dotted{
  border:dotted black;
  padding: 20px;
  padding-left: 8px;
  padding-right: 40px;
  border-radius: 10px;
  position: relative;
width: max-content;
}

.phone .form-control {
    
  width: 79%;
  height: calc(1.5em + .75rem + 6px);
border-radius: 5.25rem;
 
}

.password .form-control {
    
  width: 79%;
  height: calc(1.5em + .75rem + 6px);
border-radius: 5.25rem;
 
}


.form_elements{
  justify-content: center;
}

.sign_up .submit{
padding-left:70px;
padding-right:70px;
background: #34383D;
border-radius: 5.25rem;
color:white;
padding-top:10px;
padding-bottom:10px;
}


.sign_up .submit:active{
  outline: none;
}

.text h4{
font-size: 20px;
}

@media  (max-width: 767px) {
  
  .biss_module h4::before{
    width: 0px;
  }
  .client_module h4::before{
    width:0px;
  }
  .coach_module h4::before{
  width:0px;
  }
.biss_module h4,.coach_module h4{
  color: #FEEFA8;
}

.coach_module{
  margin-top:0px;
}
.text h4{
  font-size: 20px;
  }

.client_module h4{
  color:black;
 

}

.check_box{
  align-items: center;
  justify-content: center;
  align-self: center;
}
  
}
 
@media(max-width: 991px) {
  
  .coach_module h4::before{
    left:-197px;
  }
  .box{
    margin-top: 0px;
  }
  .text{

    display:none;
  }
  .text h4{
    font-size: 20px;
    }
  .mobile_box{
    display:block;
  }
  .navbar .nav-item .nav-link{
    
    padding:19px;
   
   
}
 
  
} 
@media screen and (max-width: 1200px){
  

  .image_button{
    position: relative;
    left: -74px;
   }
  
} 

@media screen and (max-width: 575px){
  
  .mobiles_mobile{
padding-bottom:50px;
  }
  
 .page_1{

text-align: center;
align-self: center;

} 
.image_button_2{
  text-align: center;
  align-self: center;
align-items: center;
}
.mobile_box{
  
  text-align: center;
}

.mobile3::before{
  left:87px;

}
}

@media screen and (max-width: 510px){
  .container input{
    width:200px;
    
  }
}







    
 
 
